// bower:scss
// endbower

@import "reset";
@import "dialog";

$primary-color: #ed7702;
$secondary-color: #414c4d;
$light-orange: #fd8814;
$light-blue: #0072e2; // rgba(0,114,226,1)
$dark-blue: #0a48c1; // rgba(10,72,193,1)
$font: 'Montserrat', sans-serif;

.browserupgrade {
  margin: 0.2em 0;
  background: #fff;
  color: #000;
  padding: 0.2em 0;
}

body {
  background: #fff;
  font-family: $font;
  // font-family: $primary-font;
  color: #333;
  margin: 0px!important;
  &.dialogOpen {
    overflow: hidden;
  }
}

h1,h2,h3,h4,h5,h6 {
  // font-family: $primary-font;
  // letter-spacing: 1px;
}

p {
  line-height: 1.2;
}

a {
  letter-spacing: 1px;
}

// Material Design Shadows
%card-hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

%card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

%card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

%card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

%card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

%card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}


// Header
body > header{
  display: flex;
  flex-flow: column nowrap;
  // padding: 25px 25px 4px;
  padding: 12px 25px 4px;
  padding-bottom: 4px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 6px solid $light-blue;
  @extend %card-2;
  position: relative;
  z-index: 10;

  .logo {
    // margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: baseline;
    margin: 12px 0 25px;
    // top: 2px;
    img:nth-child(1) {
      height: 48px;
    }
    img:nth-child(2) {
      height: 35px;
      position: relative;
      left: 8px;
      top: -1px;
    }
  }

  nav a {
    position: relative;
    display: inline-block;
    padding: 13px 12px;
    margin: 0 6px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: 15px;
    color: $secondary-color;
    text-transform: uppercase;
    white-space: nowrap;

    &.inactive {
      &::before{
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 13px 0px;
        transform: translateX(12px);
        max-width: 0;
        border-bottom: 4px solid $primary-color;
        // color: $primary-color;
        color: #436fcd;
        content: attr(data-hover);
        transition: max-width 0.5s;
      }
      &:hover::before{
        max-width: 100%;
      }
    }

    &.active {
      color: #436fcd;
      &::before{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0px;
        content: '';
        overflow: hidden;
        padding: 13px 0px;
        transform: translate(0px,4px);
        border-bottom: 4px solid $primary-color;
      }
    }

    // &.active {
    //   color: #436fcd;
    //   &::before, &::after{
    //     position: absolute;
    //     content: '';
    //     height: 2px;
    //     width: 70%;
    //     background-color: $primary-color;
    //     left: auto;
    //     padding: 0px;
    //     max-width: none;
    //   }
    //   &::before{
    //     right: 0;
    //     top: 0;
    //     transform: translate(0px,-2px);
    //   }
    //   &::after{
    //     left: 0;
    //     bottom: 0;
    //     transform: translateY(2px)
    //   }
    // }
  }
}

// TEST
// @import "compass/css3";

// @font-face {
//   src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/polar.otf');
//   font-family: 'Polar';
// }
// $polar: 'Polar', Helvetica, Arial, sans-serif;
// $openSans: 'Open Sans', Helvetica, Arial, sans-serif;
// @mixin mediaMaxWidth($w) {
//   @media (max-width: $w) {
//     @content;
//   }
// }
// *, *:before, *:after {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
// html, body {
//   font-size: 62.5%;
//   height: 100%;
//   overflow: hidden;
// }
// body {
//   background: #000;
// }
svg {
  display: block;
  overflow: visible;
}
.slider-container {
  position: relative;
  // height: 300px;
  user-select: none;
  cursor: all-scroll;
  overflow: hidden;
  @extend %card-1;
}
.slider-control {
  z-index: 2;
  position: absolute;
  top: 0;
  width: 10%;
  height: 100%;
  transition: opacity 0.3s;
  will-change: opacity;
  opacity: 0;

  &.inactive:hover {
    cursor: auto;
  }

  &:not(.inactive):hover {
    opacity: 1;
    cursor: pointer;
  }

  &.left {
    left: 0;
    background: linear-gradient(to right, rgba(0,0,0,0.18) 0%, rgba(0,0,0,0) 100%);
  }
  &.right {
    right: 0;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%, rgba(0,0,0,0.18) 100%);
  }
}

.slider-pagi {
  position: absolute;
  z-index: 3;
  left: 50%;
  bottom: 2rem;
  transform: translateX(-50%);
  font-size: 0;
  list-style-type: none;

  &__elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
    @extend %card-3;

    &:before {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      width: .6rem;
      height: .6rem;
      background: $primary-color;
      border-radius: 50%;
      transition: transform 0.3s;
      transform: translate(-50%, -50%) scale(0);
      @extend %card-2;
    }

    &.active:before,
    &:hover:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

.slider {
  z-index: 1;
  position: relative;
  height: 100%;
  min-height: 400px;

  &.animating {
    transition: transform 0.5s;
    will-change: transform;

    .slide__bg {
      transition: transform 0.5s;
      will-change: transform;
    }
  }
}
.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  // height: auto;
  // min-height: 500px;
  overflow: hidden;

  &.active {

    .slide__overlay,
    .slide__text{
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__bg {
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-size: cover;
    will-change: transform;
  }
  &:nth-child(1) {
    left: 0;
    .slide__bg {
      left: 0;
      background: linear-gradient( to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/slider1.png');
      background-repeat: repeat-x;
      background-size: auto 100%;
      background-position: 50% 0;

      // background: linear-gradient( to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url('../images/clouds-01.jpg');
      // background-size: cover;
      // background-position: 0 -380px;
      // transform: scaleX(-1) !important;
      // filter: FlipH;

      // background: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(https://image.shutterstock.com/z/stock-photo-phetchabun-thailandourists-shooting-beautiful-rising-sun-in-the-early-morning-over-sea-of-fog-on-1023248257.jpg);
      // background-size: cover;
      // background-position: 0 -190px;
    }
    // @include mediaMaxWidth(991px) {
    //   .slide__text {
    //     background-color: rgba(233, 156, 126, 0.8);
    //   }
    // }
  }
  &:nth-child(2) {
    left: 100%;
    .slide__bg {
      left: -50%;
      background: linear-gradient( to right, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),
      // url('https://image.shutterstock.com/z/stock-photo-cloudy-and-foggy-hong-kong-343406531.jpg');
      url('../images/slider2.png');
      // url(https://image.shutterstock.com/z/stock-photo-view-of-cloud-in-sky-from-aircraft-1030093741.jpg);
      // url(https://image.shutterstock.com/z/stock-photo-beautiful-blue-sky-background-with-clouds-and-sun-450107206.jpg);
      background-repeat: repeat-x;
      background-size: auto 100%;
      background-position: 50% 0;
    }
  }

  &:nth-child(3) {
    left: 200%;
    .slide__bg {
      left: -100%;
      background: linear-gradient( to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),
      url('../images/slider3.png');
      background-repeat: repeat-x;
      background-size: auto 100%;
      background-position: 50% 0;
    }
  }

  &__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 550px;
    transition: transform 0.5s 0.5s, opacity 0.2s 0.5s;
    will-change: transform, opacity;
    transform: translate3d(-20%, 0, 0);
    opacity: 0;

    // @include mediaMaxWidth(991px) {
    //   display: none;
    // }

    path {
      opacity: .94;
    }
  }

  &__text {
    // position: absolute;
    // width: 25%;
    // bottom: 15%;
    // left: 12%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    // justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 25px;

    color: #fff;
    transition: transform 0.5s 0.8s, opacity 0.5s 0.8s;
    will-change: transform, opacity;
    transform: translateY(-50%);
    opacity: 0;
//
//     // @include mediaMaxWidth(991px) {
//     //   left: 0;
//     //   bottom: 0;
//     //   width: 100%;
//     //   height: 20rem;
//     //   text-align: center;
//     //   transform: translateY(50%);
//     //   transition: transform 0.5s 0.5s, opacity 0.5s 0.5s;
//     //   padding: 0 1rem;
//     // }

    &-left {
      max-width: 650px;
      .heading {
        font-size: 2.4rem;
        margin-bottom: 1.5rem;
        color: white;
        // color: $primary-color;
        font-family: $font;
        color: rgba(255,255,255,.92);
        font-weight: 500;
        text-shadow: 1px 2px 2px rgba(0,0,0,.2);
        // @include mediaMaxWidth(991px) {
        //   line-height: 20rem;
        //   font-size: 3.5rem;
        // }
      }

      .desc {
        // font-weight: 300;
        font-size: 1.4rem;
        color: rgba(255,255,255,.6);
        margin-bottom: 1.2rem;
        text-shadow: 1px 2px 2px rgba(0,0,0,.2);
        // @include mediaMaxWidth(991px) {
        //   display: none;
        // }
      }

      .link {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        position: relative;
        display: inline-block;
        padding: 10px 0px;
        outline: none;
        color: $primary-color;
        white-space: nowrap;
        text-shadow: 1px 2px 2px rgba(0,0,0,.1);
        &::before{
          position: absolute;
          top: 0;
          left: 0;
          overflow: hidden;
          padding: 10px 0px;
          // transform: translateX(12px);
          max-width: 0;
          border-bottom: 2px solid rgba(0,0,0,.3);
          // color: $primary-color;
          color: #eee;
          content: attr(data-hover);
          transition: max-width 0.5s;
        }
        &:hover::before{
          max-width: 100%;
        }

      }
    }

    &-right {
      min-width: 500px;
      text-align: center;
      .heading {
        text-align: center;
        font-family: $font;
        color: white;
        // text-transform: uppercase;
        text-shadow: 1px 2px 2px rgba(0,0,0,.5);
        font-size: 1.8rem;
        font-weight: 500;
        max-width: 400px;
        margin: 0 auto;
      }
      .link {
        text-align: center;
        display: inline-block;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .9rem;
        // background-color: $primary-color;
        color: white;
        color: rgba(0,0,0,.6);
        padding: 16px 30px;
        border-radius: 20px;
        margin-top: 1.4rem;
        background: linear-gradient(96deg, rgba(253,185,22,1) 0%, rgba(239,128,40,1) 100%);
        @extend %card-2;
        &:hover {
          cursor: pointer;
          @extend %card-4;
        }
      }

    }


  }
}

#moveToCloudSection {
  // max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  // background-color: #f7f7f7;
  background-image: url(../images/icons/orange_lines1.png);
  background-repeat: no-repeat;
  background-position: top 0px right 140px;
  background-size: 430px;

  h2{
    font-size: 2.4rem;
    font-family: $font;
    color: $secondary-color;
    margin-right: 50px;
    // text-transform: uppercase;
    font-weight: 600;
    span {
      color: $light-blue;
    }
  }

  > div {
    position: relative;
    min-width: 600px;
    img {
      height: 400px;
    }
    .content {
      position: absolute;
      top: 90px;
      left: 70px;
      max-width: 510px;
      h4 {
        font-family: $font;
        font-size: 1.2rem;
        margin-bottom: .4rem;
        margin-top: 1.6rem;
        color: $dark-blue;
        font-weight: 500;
      }
      p {
        font-size: 1rem;
        line-height: 1.4;
        font-weight: 500;
        color: $secondary-color;
        color: rgba(0,0,0,.6);
      }
    }
  }
  // svg{
  //   // position: absolute;
  //   // top: 0;
  //   // filter: drop-shadow( 1px 7px 5px rgba(0,0,0,.4));
  //   filter: drop-shadow(4px 7px 6px rgba(0, 0, 0,.3));
  //   transform: scale(1.05, 1);
  //   path {
  //     fill: rgba(255,255,255,.92);
  //     // stroke:#0370b8;
  //     stroke-miterlimit:10;
  //   }
  // }
}


// Services We Provide
#services{
  width: 100%;
  position: relative;
  display: block;
  margin: 0px auto;
  padding: 60px 0;
  text-align: center;
  overflow: hidden;
  // margin: 200px auto;

  > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2rem;
    &::after {
      text-align: center;
      content: "";
      display: block;
      position: relative;
      top: 20px;
      width: 100%;
      margin-bottom: 0%;
      height: 4px;
      background-color: $primary-color;
    }
  }

  #eachService {
    position: absolute;
    display: block;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    top: 180px;
    left: 0;
    right: 0;
    > h4 {
      position: relative;
      font-size: 1rem;
      font-weight: 700;
      margin-bottom: 1.2rem;
      text-transform: uppercase;
      color: $dark-blue;
    }

    > p {
      font-size: 1.2rem;
      font-weight: 500;
      color: rgba(0,0,0,.5);
      line-height: 1.4;
    }
  }

  #serviceButtons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    // opacity: .2;

    > div{
      // background-color: $light-blue;
      border-radius: 50%;
      position: relative;
      display: inline-block;
      width: 70px;
      height: 70px;
      fill: rgba(255,255,255,.85);
      transition: fill 0.3s, box-shadow 0.3s;
      cursor: pointer;
      @extend %card-2;

      .title {
        position: absolute;
        top: 90px;
        font-size: 1rem;
        font-weight: 700;
        text-transform: uppercase;
        min-width: 200px;
        left: -66px;
        text-align: center;
        pointer-events: none;
        transform: translateY(0px);
        transition: transform 0.3s;
        &::after {
          content: '';
          width: 0px;
          border-left: 1px dashed $primary-color;
          height: 0px;
          display: block;
          margin: 10px auto 0;
          // transform: translateY(-90%);
          // opacity: 0;
          transition: height .3s ease-in;
        }
      }

      &::before {
      	content: '';
      	position: absolute;
      	top: 0;
      	left: 0;
      	width: 100%;
      	height: 100%;
      	border-radius: inherit;
      	z-index: -1;
        background-color: white;
      	box-shadow: inset 0 0 0 35px $light-blue;
      	transform: scale3d(1, 1, 1);
      	transition: box-shadow 0.3s, transform 0.3s;
      }

      &.active {
        fill: $primary-color;
        @extend %card-4;
        .title {
          transform: translateY(5px);
        }

        .title::after {
          height: 300px;
        }
        &:before {
          box-shadow: inset 0 0 0 6px $light-blue;
          transform: scale3d(1.3, 1.3, 1);
        }
        svg{
          transform: scale3d(1.2, 1.2, 1);
        }
      }

      &:not(.active) {
        &:hover {
          fill: $primary-color;
          box-shadow: none;
          // transform: scale3d(1.4, 1.4, 1);
        }
        &:hover::before{
          box-shadow: inset 0 0 0 6px $light-blue;
        	transform: scale3d(1.25, 1.25, 1);
        }
        &:hover svg {
          transform: scale3d(1.2, 1.2, 1);
        }
      }

      svg {
        width: inherit;
        height: inherit;
        padding: 15px;
        transition: transform 0.3s;
        path {
        }
      }
    }
    > div:nth-child(1), > div:nth-child(7){
      top: 35px;
    }
    > div:nth-child(2), > div:nth-child(6){
      top: 160px;
    }
    > div:nth-child(3), > div:nth-child(5){
      top: 235px;
    }
    > div:nth-child(4){
      top: 260px;
      // transform: scale(1.3, 1.3);
    }

  }
  > svg{
    display: block;
    margin: 0 auto;
    position: relative;
    // left: -10px;
    z-index: -2;
    height: 315px;
  }
  #activeBar {
    position: relative;
    height: 20px;
    width: 1280px;
    margin: 0 auto;
    top: 6px;
    z-index: 1;
    border-top: 14px solid white;
    background-color: transparent;
    // background-color: rgba(0,0,0,.3);

    > span {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 150px;
      height: 100%;
      background-color: #fd7f03;
      // background-color: #fd8814;
      border-radius: 6px;
      // @extend %card-1;
      // background: linear-gradient(96deg, #fd9125 0%, #ed7702 100%);
      transition: transform 0.3s .3s;
      transform: translateX(565px);
    }

    // &:hover::before {
    //   transform: translateX(320%);
    // }
  }
  #servicesContent{
    max-width: 1440px;
    margin: 0 auto;
    // min-height: 350px;
    position: relative;
    border-top: 6px solid $light-blue;
    background-color: #c8e3fc;
    border-radius: 34px;
    overflow: hidden !important;
    // @extend %card-1;
    // image-color: #99cdfb;
    min-height: 380px;
    display: flex;
    flex-flow: row nowrap;

    &.optimizationContent {
      .contentContainer {
        display: flex;
        // flex-flow: column wrap;
        padding: 20px 40px;
        > div {
          // margin-bottom: 2rem;
          flex: 1 1 0%;
          padding: 10px;
        }
        h4{
          margin-bottom: .5rem;
        }
        ul {
          position: relative;
          margin-bottom: .4rem;
          &::before {
            content: attr(data-subtitle);
            // position: absolute;
            // bottom: 0;
            // left: 0;
            font-size: .8rem;
            color: $dark-blue;
            transform: rotate(270deg);
            transform-origin: left top 0;
            text-transform: uppercase;
          }
          li {
            font-size: 1rem;
            &.subList {
              background-image: url(../images/icons/arrow_right.svg);
              background-size: 18px;
              background-position: 20px 4px;
              padding-left: 45px;
            }
          }
        }
      }

      .imageContainer {
        flex: 0 0 0%;
      }

    }


      .contentContainer {
        flex: 1 0 0%;
        padding: 40px 0px 40px 100px;
        text-align: center;
        display: inline-block;
        text-align: left;
        opacity: 1;
        h4 {
          text-transform: uppercase;
          font-size: 1rem;
          font-weight: 700;
          color: $primary-color;
          margin-bottom: .8rem;
        }

        ul {
          line-height: 1.6;
          font-size: 1.1rem;
          color: rgba(0,0,0,.58);
          font-weight: 500;
          margin-bottom: 1.5rem;
          li {
            background-image: url(../images/icons/chevron_right.svg);
            background-repeat: no-repeat;
            background-size: 22px;
            background-position: 0px 5px;
            padding-left: 25px;
          }
        }

      }
      .imageContainer {
        flex: 1.3 0 0%;
        background-image: linear-gradient(96deg, rgba(0,114,226,.4) 0%, rgba(10,72,193,.8) 100%);
        clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
        background-repeat: repeat;
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;

        .image {
          width: 100%;
          height: 100%;
          background-image: linear-gradient(96deg, rgba(0,114,226,.4) 0%, rgba(10,72,193,.8) 100%), url('https://image.shutterstock.com/z/stock-photo-light-bulb-with-gears-and-cogs-working-together-263395913.jpg');
          background-repeat: repeat-x;
          background-size: auto 100%;
          background-position: 50% 0;
          clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
          border-top-right-radius: 30px;
          border-top-left-radius: 30px;
        }
      }
    // }

    .multipleContent {
      display: none;
    }
  }
}

#whyCloudaccel {
  width: 100%;
  position: relative;
  background-image: url(../images/icons/orange_lines2.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 430px;
  > div {
    margin: 0px auto;
    padding: 60px 50px 100px;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1440px;
    > h2 {
      text-align: left;
      font-weight: 600;
      font-size: 2rem;
      text-transform: uppercase;
      display: inline-block;
      border-right: 4px solid $primary-color;
      max-width: 300px;
      padding: 80px 0;
      line-height: 1.2;
    }
  }


  #whyCloudaccelButtons {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 150px;
    min-height: 400px;
    > div {
      border-radius: 50%;
      position: relative;
      display: inline-block;
      width: 70px;
      height: 70px;
      fill: rgba(255,255,255,.85);
      transition: fill 0.3s, box-shadow 0.3s;
      margin: 10px 0;
      cursor: pointer;
      @extend %card-2;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: inherit;
        z-index: -1;
        background-color: white;
        box-shadow: inset 0 0 0 35px $light-blue;
        transform: scale3d(1, 1, 1);
        transition: box-shadow 0.3s, transform 0.3s;
      }


      &:after {
        display:  block;
        content: attr(data-title);
        // text-align: center;
        white-space: nowrap;
        transform: translate(-10px,10px);
        text-transform: uppercase;
        font-size: .9rem;
        font-weight: 700;
        pointer-events: none;
        color: rgba(0,0,0,.6);
        transition: transform .3s;
      }

      &:not(.active) {
        &:hover {
          fill: $primary-color;
          box-shadow: none;
        }
        &:hover::before{
          box-shadow: inset 0 0 0 6px $light-blue;
          transform: scale3d(1.2, 1.2, 1);
        }
        &:hover::after {
          transform: translate(-10px,14px);
        }
        &:hover svg {
          transform: scale3d(1.1, 1.1, 1);
        }
      }

      &.active {
        fill: $primary-color;
        @extend %card-4;
        &::after {
          transform: translate(-10px ,22px);
          color: $primary-color;
        }
        &:before {
          box-shadow: inset 0 0 0 6px $light-blue;
          transform: scale3d(1.3, 1.3, 1);
        }
        svg{
          transform: scale3d(1.2, 1.2, 1);
        }
      }

      svg {
        fill: inherit;
        width: inherit;
        height: inherit;
        padding: 15px;
        transition: transform 0.3s;
      }
    }
  }
  .contentContainer {
    background-color: $light-blue;
    border-top: 4px solid $primary-color;
    color: white;
    border-radius: 20px;
    flex: 4 0 600px;
    min-height: 340px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-weight: 500;
      font-size: 1.9rem;
      margin-bottom: 1.8rem;
      padding: 0px 50px;
    }
    ul {
      line-height: 1.4;
      padding: 0px 50px;
      max-width: 700px;
    }
    li {
      text-align: left;
      font-size: 1.1rem;
      font-weight: 500;
      color: rgba(255,255,255,.78);
    }
    li.sublist {
      background-image: url(../images/icons/chevron_right_light.svg);
      background-repeat: no-repeat;
      background-size: 22px;
      background-position: 0px 5px;
      padding-left: 30px;
    }
  }
}

#whatWeDo {
  width: 100%;
  position: relative;
  margin: 0px auto;
  padding: 105px 25px 60px;
  // background-color: #eee;
  background-color: rgba(0,114,226,.05);
  border: 1px solid rgba(0,0,0,.1);
  border-left: none;
  border-right: none;
  text-align: center;

  // > h2 {
  //   display: block;
  //   text-align: center;
  //   font-weight: 600;
  //   font-size: 2rem;
  //   text-transform: uppercase;
  //   display: inline-block;
  //   margin-bottom: 2rem;
  //   &::after {
  //     text-align: center;
  //     content: "";
  //     display: block;
  //     position: relative;
  //     top: 20px;
  //     width: 100%;
  //     margin-bottom: 0%;
  //     // height: 4px;
  //     background-color: $primary-color;
  //   }
  // }

  .whatWeDoContent {
    position: relative;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: flex-start;
    max-width: 1300px;
    margin: 0 auto;

    &::before {
      content: '';
      position: absolute;
      top: 56px;
      left: 0;
      height: 5px;
      width: 90%;
      background-color: $primary-color;
    }

    &::after {
      content: "Here's What We Do";
      position: absolute;
      top: -30px;
      left: 0;
      font-weight: 600;
      max-width: 250px;
      font-size: 2rem;
      line-height: 1.2;
      text-align: left;
      text-transform: uppercase;
    }

    .each {
      padding: 0 25px;
      .svg {
        border-radius: 50%;
        position: relative;
        display: inline-block;
        width: 115px;
        height: 115px;
        fill: rgba(255,255,255,.85);
        @extend %card-4;
        fill: $light-blue;
        background-color: white;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: inherit;
          background-color: transparent;
          box-shadow: inset 0 0 0 12px $light-blue;
          transform: scale3d(1.13, 1.13, 1);
        }

        svg {
          fill: inherit;
          width: inherit;
          height: inherit;
          padding: 32px;
        }
        svg.makeBig{
          padding: 28px;
        }
        svg.makeSmall{
          padding: 34px;
        }
      }
      h4 {
        font-size: 1.3rem;
        font-weight: 500;
        color: $dark-blue;
        margin: 25px 0 20px;
      }
      p {
        max-width: 220px;
        font-size: 1rem;
        // text-align: justify;
        text-align: center;
        line-height: 1.4;
        font-weight: 500;
        color: rgba(0,0,0,.6);
      }
    }
  }

}

// Services We Provide
#caseStudies{
  width: 100%;
  position: relative;
  display: block;
  margin: 60px auto;
  text-align: center;
  max-width: 1440px;
  // margin: 200px auto;

  > h2 {
    text-align: center;
    font-weight: 600;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 2rem;
    &::after {
      text-align: center;
      content: "";
      display: block;
      position: relative;
      top: 20px;
      width: 100%;
      margin-bottom: 0%;
      height: 4px;
      background-color: $primary-color;
    }
  }

  .initialCaseStudies, .hiddenCaseStudies {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position: relative;
    z-index: 0;
    background: white;
    .eachCaseStudy {
      margin: 30px 0;
      width: 420px;
      min-height: 225px;
      border-radius: 10px;
      padding: 40px;
      text-align: left;
      box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
      border-top: 2px solid $light-blue;
      cursor: pointer;
      h2 {
        font-size: 1.4rem;
        color: $light-blue;
        // font-weight: 300;
        transition: .2s color;
        &::before {
          content: 'CASE STUDY';
          font-size: .7rem;
          font-weight: 700;
          position: relative;
          display: block;
          color: $primary-color;
          margin-bottom: 5px;
        }
        &:hover {
          color: $dark-blue;
        }
      }
      p {
        margin: .8rem 0 1.6rem;
      }
      span {
        font-size: .8rem;
        text-transform: uppercase;
        font-weight: 500;
        padding-bottom: 4px;
        display: inline-block;
        position: relative;
        background-image: url(../images/icons/chevron_right.svg);
        background-repeat: no-repeat;
        background-size: 22px;
        min-width: 150px;
        background-position: 124px 2px;
        padding: 8px 0px;
        border-bottom: 1px dashed rgba(0,0,0,.2);
        transition: all .3s;
        &:hover {
          cursor: pointer;
          color: $dark-blue;
          background-position: 132px 2px;
          border-bottom: 1px solid $primary-color;
        }
      }
    }
  }

  .hiddenCaseStudies {
    position: relative;
    // z-index: -1;
    width: 100%;
    max-height: 0px;
    opacity: 0;
    transition: max-height .3s, opacity .3s;
    overflow: hidden;
    .eachCaseStudy:nth-child(1){
      h2::before {
        content: 'CASE STUDY: ( PART-2 )';
      }
    }
    &.open {
      max-height: 2000px;
      opacity: 1;
    }
  }

  .viewAll{
    font-size: .9rem;
    text-transform: uppercase;
    font-weight: 500;
    text-align: left;
    padding: 30px;
    margin-top: 1rem;
    display: inline-block;
    position: relative;
    background-image: url(../images/icons/chevron_right.svg);
    background-repeat: no-repeat;
    background-size: 22px;
    min-width: 210px;
    background-position: 192px 3px;
    padding: 8px 0px;
    color: $light-blue;
    // border-bottom: 1px dashed rgba(0,0,0,.2);
    transition: all .3s;
    &:hover {
      cursor: pointer;
      color: $dark-blue;
      background-position: 186px 3px;
      // border-bottom: 1px solid $primary-color;
    }
  }
}

// Dialog styles
.dialog__content {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 816px;
  height: 100%;
	background: #fff;
	text-align: center;
	position: relative;
	z-index: 5;
  opacity: 0;
	// opacity: 1;
  text-align: left;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  header {
    background-color: $light-blue;
    padding: 30px 50px;
    // height: 20%;
    min-height: 10%;
    border-top: 3px solid $primary-color;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-flow: row;
    align-items: center;
    @extend %card-1;
    .headerInfo {
      span {
        font-size: 1rem;
        font-weight: 700;
        position: relative;
        display: block;
        color: #fd8814;
        margin-bottom: 5px;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
      }
      h2 {
        font-size: 2rem;
        color: white;
        margin: 0rem 0 .6rem;
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
      }
      p {
        font-size: 1rem;
        color: rgba(255,255,255,.78);
        text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
        line-height: 1.3;
      }
    }
    .headerClose {
      border-radius: 10px;
      width: 50px;
      height: 50px;
      margin-left: auto;
      @extend %card-2;
      img {
        width: inherit;
        height: inherit;
        padding: 5px;
        opacity: .9;
      }
      &::after {
        content: 'CLOSE';
        font-size: .7rem;
        font-weight: 600;
        color: rgba(255,255,255,.5);
        // color: rgba(0,0,0,.5);
        text-align: center;
        display: block;
        margin-top: 8px;
        pointer-events: none;
      }
      &:hover {
        @extend %card-1;
        cursor: pointer;
        background-color: rgba(0,0,0,.05);
        img {
          opacity: 1;
        }
      }
    }
  }
  .contentBody {
    padding: 0px 50px 30%;
    height: 100%;
    overflow: scroll;
    h3 {
      font-size: 1.3rem;
      font-weight: 500;
      color: $light-blue;
      margin: 2rem 0 .8rem;
    }
    h4 {
      font-size: .9rem;
      font-weight: 600;
      text-transform: uppercase;
      color: $primary-color;
      margin: 1rem 0 .6rem;
    }
    p {
      line-height: 1.4;
      margin-bottom: .8rem;
    }
    ul {
      margin: .4rem 0 .8rem;
      position: relative;
      top: -4px;
      li {
        line-height: 1.3;
        margin-bottom: .5rem;
        background-image: url(../images/icons/chevron_right_blue.svg);
        background-repeat: no-repeat;
        background-size: 22px;
        background-position: 0px 0px;
        padding-left: 28px;
      }
    }
    .strong {
      font-weight: 600;
    }
    .highlight {
      position: relative;
      padding: 4px 0;
      padding-left: 20px;
      margin: 1rem 0;
      font-size: 1.1rem;
      font-weight: 300;
      line-height: 1.4;
      height: auto;
      // font-style: italic;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        width: 2px;
        height: 100%;
        background-color: $primary-color;
      }
    }
    img {
      width: 100%;
      // border-radius: 10px;
      margin: 1.2rem 0;
    }
    .theEnd {
      text-align: center;
      display: block;
      margin: 3rem 0rem 0rem;
      text-transform: uppercase;
      font-size: .9rem;
      font-weight: 500;
    }
  }
}

footer {
  width: 100%;
  position: relative;
  display: block;
  // background-color: $light-blue;
  box-shadow: 0px -2px 8px 0px rgba(0, 0, 0, .1);
  margin: 0px auto;
  padding: 30px;
  text-align: left;
  display: flex;
  // align-items: center;
  justify-content: center;
  background-color: $light-blue;
  border-top: 4px solid $primary-color;
  background: linear-gradient(
      to bottom,
      rgba(0,114,226,1),
      rgba(10,72,193,1)
    ),url(http://bestpharma.thethinktankers.in/_new2/images/subtlepattern.png);
.footerInfo {
    // max-width: 300px;
    // border-right: 2px solid $primary-color;
    // padding-right: 50px;
    // margin-right: 50px;
    // padding: 0 100px;
    display: flex;
    flex-flow: row;
    position: relative;
    top: 20px;
    margin-right: 40px;
    // align-items: center;

    .address1 {
      margin: 0 30px;
    }

    .address1, .address2 {
      width: 300px;
      > div {
        svg {
          background-color: white;
          border-radius: 50%;
          padding: 12px;
          width: 55px;
          height: 55px;
          @extend %card-2;
          margin-bottom: 10px;
          position: relative;
          top: -5px;
        }
        span {
          font-size: 1.5rem;
          color: white;
          font-weight: 600;
          margin-bottom: .9rem;
          display: block;
          text-shadow: 1px 1px 5px rgba(0,0,0,.1);
        }
      }
      p {
        font-size: 1.1rem;
        color: white;
        margin-bottom: .4rem;
        line-height: 1.4;
      }
    }
    .link {
      text-transform: uppercase;
      font-size: .9rem;
      font-weight: 600;
      position: relative;
      display: inline-block;
      padding: 10px 0px;
      outline: none;
      color: $primary-color;
      white-space: nowrap;
      text-shadow: 1px 2px 2px rgba(0,0,0,.1);
      &::before{
        position: absolute;
        top: 0;
        left: 0;
        overflow: hidden;
        padding: 10px 0px;
        max-width: 0;
        border-bottom: 2px solid rgba(0,0,0,.3);
        color: #eee;
        content: attr(data-hover);
        transition: max-width 0.5s;
      }
      &:hover::before{
        max-width: 100%;
      }

    }
  }
  .footerForm form {
    // padding: 0 100px;
    // border-left: 2px solid $primary-color;
    text-align: center;
    > div {
      display: flex;
      flex-flow: row;
      input:nth-child(1) {
        margin-right: 20px;
      }
    }
    input, textarea {
      padding: 12px 20px;
      width: 100%;
      display: inline-block;
      background-color: rgba(255,255,255,.1);
      color: white;
      font-size: 16px;
      font-family: inherit;
      font-weight: inherit;
      border-radius: 12px;
      border: none;
      outline: none;
      margin: 10px 0;
      @extend %card-1;
    }
    textarea {
      height: 100px;
    }
    button {
      text-align: center;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 600;
      font-size: .9rem;
      outline: none;
      border: none;
      // background-color: $primary-color;
      color: white;
      color: rgba(0,0,0,.6);
      padding: 16px 50px;
      border-radius: 20px;
      margin-top: 1.4rem;
      background: linear-gradient(96deg, rgba(253,185,22,1) 0%, rgba(239,128,40,1) 100%);
      @extend %card-2;
      &:hover {
        cursor: pointer;
        @extend %card-4;
      }
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255,255,255,.78);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255,255,255,.78);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(255,255,255,.78);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(255,255,255,.78);
    }
  }
}




@media (max-width: 1280px) {
  // ! Header Part
  body {
    > header {
      flex-flow: row nowrap;
      width: 100%;
      background: #fff;
      padding: 20px 10px;

      &.showMenu {
        nav {
          display: unset;
        }
        .menu-bar {
          &::before {
            top: 0;
            transform: rotate(45deg);
          }

          &::after {
            top: 0;
            transform: rotate(-45deg);
          }
          background-color: transparent;
        }
      }

      .logo {
        margin: 0;
      }
      .logo img:nth-child(1) {
        height: 32px;
      }
      .logo img:nth-child(2) {
        height: 24px;
      }

      > nav {
        display: none;
        width: 100vw;
        height: 100%;
        position: fixed;
        top: 76px;
        left: 0;
        background-color: rgba(255, 255, 255, 0.95);

        > a {
          display: block;
          width: 220px;
          margin: 40px auto;
          text-align: center;
          &.inactive::before {
            position: absolute;
            top: 15px;
            left: 0;
            width: 100%;
            content: "";
            opacity: 0;
            transform: translateX(0px);
            transition: opacity 0.5s;
          }
          &.inactive:hover::before {
            opacity: 1;
          }
        }
      }

      .menu-btn {
        border-radius: 5px;
        padding: 10px 10px 17px 10px;
        // box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
        // background: #f7f7f7;
        &:hover {
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
            0 1px 2px rgba(0, 0, 0, 0.24);
        }
      }
      .menu-bar {
        display: inline-block;
        position: relative;
        width: 30px;
        height: 3px;
        border-radius: 15px;
        background-color: $primary-color;
        transition: background 0.3s;

        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -10px;
          width: 100%;
          height: 3px;
          border-radius: 15px;
          background-color: $primary-color;
          transition: transform 0.3s;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          top: 10px;
          width: 100%;
          height: 3px;
          border-radius: 15px;
          background-color: $primary-color;
          transition: transform 0.3s;
        }
      }
    }
  }

  // Slider styles
  .slider {
    .slide {
      &__overlay{
        height: 600px;
      }
      &__text {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: flex-start;
        margin-left: 50px;
        // height: auto;
        // margin-top: 50px;
        &-left {
          margin-bottom: 10px;
          h2 {
            font-size: 2.2rem;
            margin-bottom: 1rem;
          }
          .desc{
            font-size: 1.3rem;
          }
        }
        &-right{
          min-width: 650px;
          text-align: left;
          h3 {
            // font-size: 1.6rem;
            display: none;
          }
          a {
            margin-top: 0px;
          }
        }
      }
    }
  }

  // Moving to Cloud Section
  #moveToCloudSection {
    flex-flow: column;
    background-position: top 0px right -30px;
    h2 {
      font-size: 2.2rem;
      margin: 20px 0 30px;
    }
    > div {
      min-width: auto;
    }
  }

  // Services We Provide
  #services{
    > svg {
      display: none;
    }
    #eachService {
      position: relative;
      top: 0;
      margin: 30px auto 40px;
    }
    #serviceButtons {
    margin: 0 50px;
      > div {
        top: 0 !important;
      }
    }
    #activeBar {
      // margin: 70px auto 0;
      display: none;
    }
    #servicesContent {
      margin-top: 80px;
    }
  }


  // ! Why Cloud Accel
  #whyCloudaccel {
    > div {
      flex-flow: column;
      padding: 30px 0;

      > h2 {
        border-right: 0;
        text-align: center;
        padding: 15px 0 5px 0;
        max-width: unset;
        border-bottom: 4px solid $primary-color;
      }
    }

    #whyCloudaccelButtons {
      min-height: unset;
      flex-flow: row wrap;
      margin-bottom: 25px;
      > div {
        margin: 40px;
      }
    }

    .contentContainer {
      flex: unset;
    }
  }

  // ! What we do part
  #whatWeDo {
    .whatWeDoContent {
      flex-wrap: wrap;
      justify-content: center;
      &::before {
        display: none;
      }

      &::after {
        border-bottom: 4px solid $primary-color;
        padding-bottom: 5px;
        top: -55px;
        left: 50%;
        transform: translateX(-50%);
        max-width: unset;
        width: auto;
        font-size: 1.8rem;
        text-align: center;
      }

      .each {
        margin: 40px 0 30px;
      }
    }
  }

  // ! Footer Section Part
  footer {
    flex-flow: column;
    .footerInfo {
      margin-right: 0;
      margin-bottom: 40px;

      .address1,
      .address2 {
        width: 100%;
      }
    }
  }
}

@media (max-width: 1000px) {
  // Services We Provide
  #services{
    display: flex;
    flex-flow: column nowrap;
    padding: 40px 0;
    > h2 {
      max-width: 400px;
      margin: 0 auto 2rem;
    }
    #eachService {
      margin: 20px auto 10px;
    }
    #serviceButtons {
    margin: 0;
    flex-flow: row wrap;
    justify-content: center;
      > div {
        margin: 30px 52px;
      }
    }
    #servicesContent {
      width: 100%;
      margin-top: 50px;
      .contentContainer {
        padding: 50px 0 50px 50px;
      }
      &.optimizationContent {
        .contentContainer {
          display: flex;
          flex-flow: row wrap;
          > div {
            min-width: 300px;
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  // Slider styles
  .slider {
    .slide {
      &__overlay {
        height: 800px;
      }
      &__text {
        margin-left: 0;
        align-items: flex-start;
      }
    }
  }

  // Moving to Cloud Section
  #moveToCloudSection {
    // flex-flow: column;
    background-position: top 0px right -30px;
    background-image: none;
    h2 {
      font-size: 2rem;
      margin: 20px 0 10px;
    }
    > div {
      min-width: auto;
      img {
        display: none;
      }
      .content {
        position: relative;
        top: 0;
        left: 0;
        max-width: unset;
        padding: 0 25px;
      }
    }
  }

  // Services We Provide
  #services{
    > h2 {
      font-size: 1.8rem;
    }
    #eachService {
      margin: 20px auto 0px;
      h4 {
        margin-bottom: .6rem;
      }
      p {
        font-size: 1rem;
      }
    }
    #serviceButtons {
      > div {
        margin: 30px 27px;
        .title {
          font-size: .9rem;
        }
      }
    }
    #servicesContent {
      .contentContainer {
        // padding: 50px 0 50px 50px;
      }
      .imageContainer {
        display: none;
      }
      &.optimizationContent {
        .contentContainer {
          // display: flex;
          flex-flow: column;
          > div {
            min-width: unset;
          }
        }
      }
    }
  }


  // ! Why Cloud Accel
  #whyCloudaccel {
    h2 {
      font-size: 1.8rem !important;
      margin-bottom: 10px;
    }
    #whyCloudaccelButtons {
      > div {
        margin: 25px;
      }
    }

    .contentContainer {
      padding: 25px 0;
      h3 {
        font-size: 1.7rem;
        margin-bottom: 1.3rem;
      }
    }
  }

  // ! What we do part
  #whatWeDo {
    .whatWeDoContent {
      &::after {
        display: inline-table;
      }
      .each {
        padding: 0;
        margin: 30px 0 0px;
        p {
          max-width: unset;
        }
        .svg {
          width: 80px;
          height: 80px;
          &::before {
            box-shadow: inset 0 0 0 8px #0072e2;
          }
          svg {
            padding: 20px !important;
          }
        }
      }
    }
  }

  // ! Case Studies Part
  #caseStudies {
    .eachCaseStudy {
      margin: 15px 0 !important;
    }
    > h2 {
      font-size: 1.8rem;
      margin-bottom: 3rem;
    }
  }

  // ! Footer Section Part

  footer {
    .footerInfo {
      flex-flow: column;

      .address1 {
        margin: 0;
        margin-bottom: 20px;
      }
    }
  }

  // Dialog Content styles
  .dialog__content {
    .contentBody {
      padding: 0 50px 40%;
    }
  }
}

@media (max-width: 500px) {
  // Slider styles
  .slider {
    .slide {
      &__text {
        // justify-content: flex-start;
        // margin-top: 50px;
        position: relative;
        top: -20px;
        &-left {
          h2 {
            font-size: 1.9rem;
          }
          .desc {
            font-size: 1.2rem;
          }
          // margin-bottom: 0px;
        }
      }
    }
  }

  // Services We Provide
  #services{
    // > h2 {
    //   font-size: 1.8rem;
    // }
    #eachService {
      // margin: 20px auto 0px;
      h4 {
        // margin-bottom: .6rem;
      }
      p {
        font-size: 1rem;
        margin: 0 15px;
      }
    }
    #serviceButtons {
      > div {
        margin: 26px 20px;
        width: 60px;
        height: 60px;
        // &::before {
        //   box-shadow: inset 0 0 0 35px #0072e2;
        // }
        &.active .title {
          transform: translateY(2px);
          &::after {
            height: 200px;
          }
        }
        .title {
          font-size: .75rem;
          top: 80px;
        }
        svg {
          padding: 12px;
        }
      }
    }
    #servicesContent {
      margin-top: 40px;
      min-height: unset;
      .contentContainer {
        padding: 30px;
      }
      .imageContainer {
        // display: none;
      }
      &.optimizationContent {
        .contentContainer {
          padding: 30px;
          // display: flex;
          // flex-flow: column;
          > div {
            // min-width: unset;
          }
        }
      }
    }
  }

  // ! Why Cloud Accel
  #whyCloudaccel {
    .contentContainer {
      padding: 30px 0;
      ul,
      h3 {
        padding: 0 30px;
      }
    }
  }

  // Dialog Content styles
  .dialog__content {
    header {
      padding: 30px;
      .headerInfo {
        margin-right: 10px;
        span {
          font-size: .8rem !important;
        }
        h2 {
          font-size: 1.6rem;
        }
        p {
          line-height: 1.2;
        }
      }
    }
    .contentBody {
      height: 80%;
      padding: 0 30px 80px;
    }
  }
}


@media (max-width: 380px) {
  #services #serviceButtons > div {
    margin: 26px 16px;
  }
}
